h1 {
    color: white;
    font-size: 400%;
}

p {
    color: black;
    text-align: center;
    font-family: courier;
    font-size: 1.8em;
}

#p2 {
    color: black;
    text-align: left;
    font-family: courier;
    font-size: 1.0em;
}
#p3 {
    color: black;
    text-align: left;
    font-family: courier;
    font-size: 1.8em;
}

h2 {
    text-align: center;
    font-family: courier;
    font-size: 400%;
}

h3 {
    font-family: courier;
    font-size: 1.8em;
}

h4 {
    text-align: center;
    font-family: courier;
    font-size: 2.5em;

}

.body {
    background-color: lightgray;
}

#leftCol {
    
    width:15%;
    height: 1440px;
    font-size: 1.8em;
    border-right: 2px black;
    background-color: #f1d671;
    padding: 4px 4px 4px 8px;
    
}

#centerCol {
    padding: 4px 8px 4px 8px;
    background-color: #AAAAAA;
}

#mainLayout {
    width:100%;
    vertical-align:top;
    margin:auto;
}

#rightCol {
    width:30%;
    border-left: 2px black;
    background-color: teal;
    padding: 4px 4px 4px 8px;
    text-align: center;
}

#rightCol img {
    padding-top:20px;
    width:90%;
    
}

#mainLayout td {
    vertical-align:top;
    
}

#leftCol #menu a {
    display:block;
    padding: 10px 4px 10px 4px;
}

.digitalPortfolioText {
    text-align: center;
    font-family: courier;
    font-size: 1.8em;
    padding: 0px 15px 4px 15px;
    
}

#homeButton {
    float: left;
    padding: 30px
	   
}

.topLinks {
    float: right;
    padding: 30px;
}

#aboutMeTextTest {
    color: black;
    text-align: center;
    font-family: courier;
    font-size: 1.8em;
    padding: 30px 30px 30px
    
}

